@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Bad Request";
    Response.StatusCode = (int)HttpStatusCode.BadRequest;
}
<div align="center">
    <br />
    <img src="~/Content/Images/Errors/bad_request.svg" width="110" height="110" />
    <h1 class="text-danger">Bad Request</h1>
    <h2 class="text-danger">Looks like something was not right in your request!</h2>
</div>