@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Internal Server Error";
}
<div align="center">
    <br />
    <img src="~/Content/Images/Errors/internal_error.svg" width="110" height="110" />
    <h1 class="text-danger">Internal Server Error</h1>
    <h2 class="text-danger">Something unexpected happened!</h2>
</div>
