@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Forbidden";
    Response.StatusCode = (int)HttpStatusCode.Forbidden;
}
<div align="center">
    <br />
    <img src="~/Content/Images/Errors/forbidden.svg" width="110" height="110" />
    <h1 class="text-danger">Forbidden</h1>
    <h2 class="text-danger">You are not supposed to park here!</h2>
</div>
