@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Page Not Found";
    Response.StatusCode = (int)HttpStatusCode.NotFound;
}
<div align="center">
    <br />
    <img src="~/Content/Images/Errors/not_found.svg" width="110" height="110" />
    <h1 class="text-danger">Page Not Found</h1>
    <h2 class="text-danger">This road leads to nowhere...</h2>
</div>
