@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Unauthorized";
}
<div align="center">
    <br />
    <img src="~/Content/Images/Errors/unauthorized.svg" width="110" height="110"  />
    <h1 class="text-danger">Unauthorized</h1>
    <h2 class="text-danger">You must be authorized to get there</h2>
</div>

