@using Microsoft.AspNet.Identity
@using Get_A_Taxi.Models
@if (Request.IsAuthenticated && User.IsInRole(UserRoles.Administrator.ToString()))
{

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Admin Panel", "Index", "Main", new { area = "Administration" }, htmlAttributes: new { id = "adminLink" })</li>
    </ul>
}

