@model System.Web.Mvc.HandleErrorInfo
@using Get_A_Taxi.Web.Infrastructure.LocalResource
@{
    ViewBag.Title = Resource.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Resource.LockedOut</h1>
    <h2 class="text-danger">@Resource.LockedOutText</h2>
</hgroup>
