@model Get_A_Taxi.Web.Areas.Management.ViewModels.EmployeesManagementVM
@{
    ViewBag.Title = "Manage Employees";
}
<h2>@ViewBag.Title</h2>


@using (Ajax.BeginForm("Search", null, new AjaxOptions
{
    UpdateTargetId = "results",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { id = "searchForm" }))
{
    <p>Search:</p><input type="text" name="query" oninput="changed()" />
}




<script>
    function changed() {
        $("#searchForm").submit();
        $("#user-details").empty();
    }
</script>



<div id="results">
    @Html.Partial("_UserAccountPartialView", Model.Accounts)
</div>