################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/.vs
/Backend/Get_A_Taxi.Data/bin/Debug
/Backend/Get_A_Taxi.Data/obj
/Backend/Get_A_Taxi.Models/bin/Debug
/Backend/Get_A_Taxi.Models/obj
/Backend/Get_A_Taxi.Web/bin/bg-BG
/Backend/Get_A_Taxi.Web/bin/en-US
/Backend/Get_A_Taxi.Web/obj
/Backend/packages
