@model IEnumerable<Get_A_Taxi.Web.ViewModels.TaxiStandVM>
<h2>Taxi Stands</h2>
<div id="taxiStandsSearchPartial">
    @Html.Partial("_TaxiStandsSearchPartialView", new Get_A_Taxi.Web.ViewModels.TaxiStandVM())
</div>

<div id="taxiStandsResults">
    @Html.Partial("_TaxiStandsListPartialView", Model)
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

