@using Get_A_Taxi.Web.Infrastructure.LocalResource;
@model IEnumerable<Get_A_Taxi.Web.ViewModels.TaxiStandVM>
<h2>@Resource.TaxiStands</h2>
<div id="taxiStandsSearchPartial">
    @Html.Partial("_TaxiStandsSearchPartialView", new Get_A_Taxi.Web.ViewModels.TaxiStandVM())
</div>

<div id="taxiStandsResults">
    @Html.Partial("_TaxiStandsListPartialView", Model)
</div>

<p>
    @Html.ActionLink(Resource.Create, "Create")
</p>

