@model Get_A_Taxi.Web.Areas.Administration.ViewModels.RolesAdministrationVM
@{
    ViewBag.Title = "Manage Employees Roles";
}
<h2>@ViewBag.Title</h2>

<div id="userSearch">
    @Html.Partial("_UserSearchPartialView", new Get_A_Taxi.Web.ViewModels.UserSearchVM())
</div>

<div id="results">
    @Html.Partial("_UsersListPartialView", Model.Accounts)
</div>

<section>
    <div id="user-details">

    </div>
</section>

