@model IEnumerable<Get_A_Taxi.Web.ViewModels.TaxiVM>
@{
    ViewBag.Title = "Manage Taxies";
}

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("SearchTaxi", null, new AjaxOptions
{
    UpdateTargetId = "taxiesResults",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnComplete = "hideLoader()"
}, new { id = "taxiSearchForm" }))
{
    <p>Search:</p>
    @Html.AntiForgeryToken()
    <label for="plateSearchTxt">Taxi's plate</label>
    <input type="text" id="plateSearchTxt" name="plate" oninput="searchTaxies()" title="Taxi's plate" />
    <label for="driverSearchTxt">Driver's name</label>
    <input type="text" id="driverSearchTxt" name="driver" oninput="searchTaxies()" title="Driver's name" />
    <label for="districtSearchTxt">Driver's district</label>
    <input type="text" id="districtSearchTxt" name="district" oninput="searchTaxies()" title="Driver's district" />
}

<div id="taxiesResults">
    @Html.Partial("_TaxiesListPartialView", Model)
</div>

<section>
    <div id="taxi-details">
            
    </div>
</section>

<div id="driversResults">

</div>

<script>
    
    function searchTaxies() {
       
        console.log("hide");
        $("#taxiSearchForm").submit();
        $("#taxi-details").empty();
        $("#driversResults").empty();
        $("#user-details").empty();
        $("#taxiesResults").empty().addClass("loader");
    }

    function cleanTaxiDetails() {
        $("#driversResults").empty();
        $("#user-details").empty();
        $("#taxi-details").empty().addClass("loader");
    }

    function cleanDrivers() {
        $("#user-details").empty();
        $("#driversResults").empty().addClass("loader");
    }

    function cleanUserDetails() {
       
        $("#user-details").empty().addClass("loader");
    }

    function driverDetailsLoaded() {
        console.log('user details loaded');
        hideLoader();
        $("#driversResults").empty();
        $("#userSearchPartial").empty();
        $("#assignDriverForm").show();
    }
 
    function taxiDetailsLoaded() {
        hideLoader();
        $("#assignDriverForm").hide();
    }

</script>