@using Get_A_Taxi.Web.Infrastructure.LocalResource
@{
    ViewBag.Title = Resource.OverviewTtile;
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<object type="image/svg+xml" data="~/Content/Images/@Resource.AboutDiagram">Your browser does not support SVG</object>

