@{
    ViewBag.Title = "The Taxi Management System Overview";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<object type="image/svg+xml" data="~/Content/Images/about.svg">Your browser does not support SVG</object>

