@using Get_A_Taxi.Web.Infrastructure.LocalResource
@{
    ViewBag.Title = Resource.OverviewTtile;
}
<center><h2>@ViewBag.Title.</h2></center>
<div align="center">
    <object type="image/svg+xml" data="~/Content/Images/@Resource.AboutDiagram" style="height: 550px;">Your browser does not support SVG</object>
</div>
