@using Get_A_Taxi.Web.Infrastructure.LocalResource
@{
    ViewBag.Title = Resource.Contact;
}
<h2>@ViewBag.Title.</h2>
<h3>@Resource.Author</h3>

<address>
    <div class="github-card" data-user="bboyadzhiev"></div>
    <script src="http://lab.lepture.com/github-cards/widget.js"></script>
    <br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>+359 886 176 803<br />
</address>
<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>