@using Get_A_Taxi.Web.Infrastructure.LocalResource;
@using (Ajax.BeginForm("CreateOrder", null, new AjaxOptions
{
    UpdateTargetId = "orderInputPartial",
    InsertionMode = InsertionMode.ReplaceWith,
    HttpMethod = "POST",
    OnBegin = "addOrderPartial.cleanPartial()"
}, new { id = "newOrderForm" }))
{
    <div class="form-horizontal">
        <div id="addOrderInputPlaceholder"></div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-12">
                <input type="button" value="@Resource.AddOrder" class="btn btn-default" onclick="addOrderPartial.submitOrder()" />
                <input type="button" value="@Resource.Cancel" class="btn btn-default" onclick="addOrderPartial.cleanPartial()" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var addOrderPartial = function () {

        function submitOrder() {
            console.log('new order submit');
            orderInputPartial.cleanSearchMarkers();
            $('#newOrderForm').submit();
        }

        function cleanPartial() {
            orderInputPartial.cleanSearchMarkers();
            console.log('add partial clean');
            $('#phoneSearchBox').val("");
            $('#newOrderForm').trigger("reset");
            $('#addOrderPartial').fadeOut();
        }



        function populate(data) {
            console.log('Populating addorderspartial');
            $('#phoneSearhPhone').val(data.custPhone);
            searchPane.phoneChanged();

        }

        return {
            populate: populate,
            submitOrder: submitOrder,
            cleanPartial: cleanPartial
        }
    }();


</script>