<table class="table table-hover">
    <thead>
        <tr>
            @*<th>id</th>*@
            @*<th>Type</th>*@
            <th>From</th>
            <th>To</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Comment</th>
            <th>Taxi GSM</th>
        </tr>
    </thead>
    <tbody class="verticalTableScroll">
        <!-- ko foreach: orders -->
        @{// HACK: using &#123; - &#125; instead of { - } in data-binding due to RAZOR bug
        }
        <tr data-bind="click: clicked, attr: &#123;  class:  isWaiting ? 'orderWaitingRow': 'orderInProgressRow' &#125;">
            @*<td data-bind="text: orderId"></td>*@
            @*<td><img data-bind="attr: &#123; src: isWaiting ? '/Content/Images/Map/red_m.png' : '/Content/Images/Map/blue_m.png'  &#125;" /></td>*@
            <td class="trimmedText" data-bind="text: start"></td>
            <td class="trimmedText" data-bind="text: end"></td>
            <td><span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span></td>
            <td data-bind="text: custPhone"></td>
            <td data-bind="text: custComment"></td>
            <td data-bind="text: driverPhone"></td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>

<script type="text/javascript">
    // $(document).ready(function () {
    var district = @ViewBag.DistrictId;
    var operatorId = "@ViewBag.OperatorId";
    var currentOrdersPartial = function (districtId) {
        var waitingMarkers = [];
        var inProgressMarkers = [];
        var m = [];
        var ordersHub;
        function addOrdersMarkers(data) {
            for (var i = 0; i < data.length; i++) {
                if(data[i].isWaiting == true){
                    gATMap.addMarker(data[i].orderId, data[i].startLat, data[i].startLng, '/Content/Images/Map/red_m.png', data[i].firstName, clkW, waitingMarkers );
                }else {
                    gATMap.addMarker(data[i].orderId, data[i].startLat, data[i].startLng, '/Content/Images/Map/blue_m.png', data[i].firstName, clkP, inProgressMarkers);
                }
            }
            console.log('waiting orders markers: '+waitingMarkers.length);
        }

        function addNewOrderMarker(data) {
            if(data.isWaiting == true){
                gATMap.addMarker(data.orderId, data.startLat, data.startLng, '/Content/Images/Map/red_m.png', data.firstName, clkW, waitingMarkers );
            }else {
                gATMap.addMarker(data.orderId, data.startLat, data.startLng, '/Content/Images/Map/blue_m.png', data.firstName, clkP, inProgressMarkers);
            }
        }

        function clkW(markerId, lat, lng, content) {
            clickedMarker(markerId);
        }

        function clkP(markerId, lat, lng, content) {

        }

        function orderItemClick(data) {
            gATMap.map.setCenter(data.startLat(),data.startLng());
            gATMap.map.setZoom(17);
            $('#phoneSearchBox').val(data.custPhone());
            $('#phoneSearchBox').enabled = false;
            $('#orderInputPartial').appendTo('#updateOrderInputPlaceholder');
            $('#updateOrderPartial').fadeIn();
            $('#updateOrderPartial').trigger("reset");

            $('#PhoneNumber').val(data.custPhone());

            orderInputPartial.populate(data);

            $('#cancelOrderId').val(data.orderId());
        }

        var currentOrdersPartialVM = function (orders) {
            this.orders = ko.mapping.fromJS(orders);

            this.updateOrder = function (updatedOrder) {
                var order = ko.utils.arrayFirst(this.orders(), function (order) {
                    return order.orderId() == updatedOrder.orderId;
                });
                order.startLat(updatedOrder.startLat);
                order.startLng(updatedOrder.startLng);
                order.start(updatedOrder.start);
                order.endLat(updatedOrder.endLat);
                order.endLng(updatedOrder.endLng);
                order.end(updatedOrder.end);
                order.custComment(updatedOrder.custComment);
            }

            this.addOrder = function (newOrder) {
                var observableOrder = ko.mapping.fromJS(newOrder);
                this.orders.push(observableOrder);
            }

            this.cancelOrder = function (orderId) {
                var order = ko.utils.arrayFirst(this.orders(), function (order) {
                    return order.orderId() == orderId;
                });
                this.orders.remove(order);
                console.log("Order removed from list!");
            }

            this.clicked = function (data, event) {
                orderItemClick(data);
            }

            this.clickedMarker = function (orderId) {
                var order = ko.utils.arrayFirst(this.orders(), function (order) {
                    return order.orderId() == orderId;
                });
                console.log('Clicked on marker with orderId ' + orderId);
                orderItemClick(order);
            }

        };

        ordersHub = $.connection.ordersHub;

        ordersHub.on("updateOrders", function (data) {
            console.log('Orders Hub Connected!')
            console.log('client.updateOrders');
            console.log(data);
            ko.applyBindings(currentOrdersPartialVM(data));
            addOrdersMarkers(data);
        });

        ordersHub.client.addedOrder = function (order) {
            console.log('New order received, adding to panel!');
            addNewOrderMarker(order);
            addOrder(order);
        }

        ordersHub.client.cancelledOrder = function (orderId) {
            console.log('Order '+orderId+' cancelled!');
            cancelOrder(orderId);
            var markerToRemove = gATMap.removeMarker(orderId, waitingMarkers);
        }

        ordersHub.client.updatedOrder = function (order) {
            console.log('Order '+order.orderId+' updated!');
            var markerToRemove = gATMap.removeMarker(order.orderId, waitingMarkers);
            addNewOrderMarker(order);
            updateOrder(order);
        }


        $.connection.hub.start().done(function () {
            console.log("Connecting to Orders Hub...");
            ordersHub.invoke("open", districtId, operatorId);
        });
        $(window).unload(function () {
            ordersHub.invoke("close", districtId, operatorId);
        });
    }(district);
    // });
</script>