
@*@using (Html.BeginForm("CreateOrder", "Main", FormMethod.Post, new { id= "newOrderForm"}))*@
@using (Ajax.BeginForm("UpdateOrder", null, new AjaxOptions
{
    UpdateTargetId = "orderInputPartial",
    InsertionMode = InsertionMode.ReplaceWith,
    HttpMethod = "POST",
    OnBegin = "updateOrderPartial.cleanPartial()"
}, new { id = "updateOrderForm" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <div id="updateOrderInputPlaceholder"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Update Order" class="btn btn-default" onclick="updateOrderPartial.updateOrderClick()" />
                <input type="button" value="Cancel" class="btn btn-default" onclick="updateOrderPartial.cleanPartial()" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    /// <reference path="/Scripts/gmaps.js" />
    var updateOrderPartial = function () {
        var startMarker;
        var endMarker;
        var addressMarkers = [];
        function updateOrderClick() {
            // $('#updateOrderForm').submit();
            console.log('update order click');
        }

        function cleanPartial() {
            $('#phoneSearchBox').val("");
            $('#updateOrderPartial').trigger("reset");
            $('#updateOrderPartial').fadeOut();
        }

        function updateOrderAddress(latlng, formattedAddress) {
            $('#OrderLattitude').val(latlng.lat());
            $('#OrderLongitude').val(latlng.lng());
            $('#OrderAddress').val(formattedAddress);
            startMarker = addMarker(0, latlng.lat(), latlng.lng(), "/Content/Images/Map/green_m.png", formattedAddress, addressClick, addressMarkers);
        }

        function updateDestinationAddress(latlng, formattedAddress) {
            $('#DestinationLattitude').val(latlng.lat());
            $('#DestinationLongitude').val(latlng.lng());
            $('#DestinationAddress').val(formattedAddress);
            endMarker = addMarker(0, latlng.lat(), latlng.lng(), "/Content/Images/Map/yellow_m.png", formattedAddress, addressClick, addressMarkers);
        }

        $("#OrderAddress").keyup(function (event) {
            if (event.keyCode == 13) {
                getCoordinates($('#OrderAddress').val().trim(), updateOrderAddress);
            }
        });

        $("#DestinationAddress").keyup(function (event) {
            if (event.keyCode == 13) {
                getCoordinates($('#DestinationAddress').val().trim(), updateDestinationAddress);
            }
        });

        $("#PhoneNumber").keyup(function (event) {
            if (event.keyCode == 13) {

            }
        });

        function addressClick() {

        }

        function populate(data) {
            console.log('Populating addorderspartial');
            $('#phoneSearhPhone').val(data.custPhone);
            searchPane.phoneChanged();
            //$('#OrderAddress').val(data.start());
            //$('#DestinationAddress').val(data.end());
            //$('#FirstName').val(data.custName());
        }

        return {
            populate: populate,
            updateOrderClick: updateOrderClick,
            cleanPartial: cleanPartial
        }
    }();



</script>